nav{
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgba(121,106,80,.40);
    backdrop-filter: blur(15px);
    /* padding: 10px 20px; */
    
    display: grid;
    grid-template-columns: 500px auto;
    padding: 10px 20px;
    align-items: center;
    z-index: 99;
    margin: 0 auto;

    .navLeftSide a{
        font-size: 2rem;
        color: #fff;
        padding-left: 25px;
        /* cursor: pointer; */
        transition: opacity 0.2s;
        text-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.75);
        text-decoration: none;
        opacity: 0.7;

        &:hover{
            opacity: 1;
        }
    }
    .navRightSide{
        display: flex;
        justify-content: flex-end;
        padding-right: 50px;
        gap: 50px;

        color: #fff;
        font-family: "Lexend", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;

            a, .subnavbtn{
                cursor: pointer;
                text-decoration: none;
                transition: opacity 0.2s;
                opacity: 0.7;
                text-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.75);
                color: #fff;
                
                &:hover{
                    opacity: 1;
                }
            }

            .subnav, .subnav:hover, .subnav-content, .subnav-content:hover, .subnavbtn:hover+.subnav-content{
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                
            }
            .subnav-content{
                display: none;
                position: absolute;
                transform: translate(-16px, -22px);
                background-color: rgba(121,106,80,1);
                box-shadow: 0 0 7px rgba(255, 255, 255, 0.25);
                backdrop-filter: blur(15px);
                padding: 20px;
                border-radius: 0 0 20px 20px;
                text-align: center;
                transition: all 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
            }
    }

    .navLeftSide, .navRightSide{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

}